* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
  background-color: rgb(241, 241, 241);
}

.phones {
  width: 65%;
}

.icons {
  width: 20%;
}

.container1,
.container2,
.container3,
.container4 {
  width: 25%;
}

#big-container {
  margin-left: 0;
  width: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
