body {
  text-align: center;
  background-color: rgb(224, 228, 231);
  margin: 0;
  width: 1200px;
  height: auto;
  border: 3px solid black;
}

* {
  box-sizing: border-box;
}

.icons > img {
  width: 20%;
}

.phone-pics > img {
  width: 60%;
  margin: 0;
  padding: 0;
}

#container {
  border: 4px solid red;
  display: flex;
  width: auto;
}

#container2 {
  display: flex;
  justify-content: space-around;
}

#container3 {
  display: flex;
  justify-content: space-around;
}

#container4 {
  display: flex;
  justify-content: space-around;
}
