body {
  margin: 0 auto;
  background-color: lightgoldenrodyellow;
}

.sentence {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  border: 5px solid green;
  width: 100%;
  height: 100vh;
  position: relative;
}

.g,
.has-underline {
  border-bottom: 3px solid purple;
}

.green {
  color: green;
}

.red {
  color: red;
}

.result,
.wrong-count {
  text-align: center;
}

.wrong-count {
  color: red;
}

.result {
  color: green;
}
