body {
  margin: 0 auto;
}

.sentence {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  border: 3px solid green;
  width: 1200px;
  height: 100vh;
  position: relative;
}

.has-underline {
  border-bottom: 3px solid black;
}

.green {
  color: green;
}

.red {
  color: red;
}

.result {
  text-align: center;
}
