
body {
  font-family: sans-serif;
  font-size: 12px;
  border: 4px solid red;
}

p,
li,
ul {
  margin: 0;
  padding: 0;
}

h1 > p {
  width: 80%;
  line-height: 2rem;
  margin-top: 4rem;
}

h2 {
  padding-top: 0;
  margin-top: 0;
  font-weight: bold;
}

#big-container {
  height: auto;
  width: 1200px;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
}

#container3 > .physician2 {
  margin: 0;
  padding: 0;
}

ul > a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

p > a {
  text-decoration: none;
  color: white;
}

#container,
#container2 {
  width: 100%;
}

.header-items {
  padding-top: 1%;
  border-bottom: 1px solid grey;
  font-weight: lighter;
}

.header-logo {
  position: relative;
  width: 155px;
  margin-top: 0;
  margin-left: 20px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 45%;
  right: 10px;
  bottom: 30px;
}

.contact {
  background-color: rgb(35, 35, 126);
  color: white;
  border-radius: 5%;
  width: 110px;
  height: 2rem;
}

#container2 {
  margin-top: 2%;
  margin-bottom: 4%;
  width: 100%;
  text-align: center;
  position: relative;
}

.heading-1 {
  position: absolute;
  left: 5.5rem;
  top: 2rem;
  color: white;
  font-weight: bolder;
  line-height: 0.5rem;
  opacity: inherit;
  text-align: left;
}

.paragraph {
  position: absolute;
  top: 12.5rem;
  left: 5.5rem;
  width: 320px;
  color: white;
  text-align: left;
  font-weight: bold;
  line-height: 1.6rem;
  overflow: hidden;
  height: fit-content;
}

.get-started-button {
  position: absolute;
  left: 9%;
  bottom: 10%;
  height: 3rem;
  width: 180px;
  border-radius: 5%;
  color: white;
  background-color: rgb(35, 35, 126);
  margin-left: auto;
  margin-top: auto;
}

#container3 {
  width: 100%;
  color: darkgray;
  background-color: rgba(248, 239, 239, 0.5);
  text-align: center;
  margin-bottom: 0;
  padding-top: 4%;
  padding-bottom: 0;
}

.physician {
  padding: 0;
  margin: 0;
  font-weight: bold;
  padding-top: 2%;
}

.list-wrapper {
  margin-top: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: bold;
  justify-content: center;
  line-height: 3rem;
  align-items: center;
}

#container4 {
  margin-top: 0;
  padding-left: 4%;
  padding-bottom: 4%;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 239, 239, 0.5);
}

.list-wrapper2 {
  padding-top: 0;
  margin: 0;
}

#container5 {
  display: flex;
  justify-content: space-between;
  margin-left: 12%;
  margin-right: 2%;
  color: gray;
  margin-top: 3%;
  margin-bottom: 3%;
}

.bottom-button {
  height: 3rem;
  width: 180px;
  border-radius: 5%;
  color: white;
  background-color: rgb(35, 35, 126);
  margin-left: auto;
}

.canvas-white-logo {
  width: 75%;
  margin-bottom: 8%;
}

#container6 {
  background-color: grey;
  padding-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 7%;
  padding-left: 2%;
  color: whitesmoke;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.canvas-wrapper > p {
  line-height: 1rem;
}

.canvas-wrapper {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  line-height: 1.8rem;
}

#container7 {
  margin-right: 2%;
  margin-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 96%;
  color: grey;
  display: flex;
  font-weight: bold;
  background-color: rgba(248, 239, 239, 0.5);
}

.bottom-links {
  padding-bottom: 3%;
}

.final-wrapper {
  margin-left: 10%;
}

.footer {
  color: gray;
}
